.static {
  background: #FFFFFF;
  border: 1px solid #7C7C7C;
  height: 20px;
  width: 100%;
  left: -1px;
  top:-1px;
  position: fixed;
}

.game_title{
  padding-top: 40px;
  text-align: center;

}

.action_form {
  padding-top: 130px;
  padding-left: 10%;
  padding-right: 10%;

  text-align: center;
}

.action_form div {
  padding-bottom: 30px;
}

.button {
  background: #FFFFFF;
  border-radius: 4px;
  border: 0;
  width: 70%;
  height: 35px;

  color: #4DA1F5;
}