.button {
  width: 70%;
  height: 35px;
  
  color: #000;
}

.main {
  height: 80%;
}

.static {
  background: #FFFFFF;
  border: 1px solid #DADADA;

  height: 50px;
}
.static p {
  color: #646567;
  position: relative;
  top:35%;
  vertical-align: middle;
  text-align: center;
}