.wrapper {
  display: grid;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  grid-template-areas: "accept decline";
  grid-template-columns: "6fr 6fr";
}

.scammer {
  width: 100%;
  text-align: center;
}

.accept {
  grid-area: accept;
  width: 100%;
  text-align: center;
}

.decline {
  grid-area: decline;
  width: 100%;
  text-align: center;
} 

.scammer_info {
  text-align: center;
}
.scammer_info p {
  font-size: 20px;
}

.button {
  background: none;
}

.profile_pic {
  height: 50px;
  width: 70px;
  font-size:1cm;
  text-anchor: middle;
  grid-area: svg;
  padding: 0;
}
.message {
  
  grid-area: message;
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 8px;
  margin-bottom: 30px;

  color: #000;
  background: #FFFFFF;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.message_scammer .message {
  position: absolute;
}



.message_player {
  display: grid;

  grid-template-areas: "a message";
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 12fr;
}
.message_player p {
  text-align: right;
}

.message_player svg {
  display: none;
}

.center h2, .center small {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #4DA1F5;
}
.center small {
  font-size: 12px;
}
.center {
  text-align: center;
  padding-bottom: 22px;
  padding-top: 10px;
}

.choice_button {
  color: black;
  margin-bottom: 10px;

  background: #FFFFFF;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.choice_button_wrapper {
  display: grid;

  padding-top: 20%;
  grid-template-areas: "button";
  grid-template-columns: 8fr;
  grid-template-rows: 6fr 6fr;
}

.message_gameover, .message_gameover h2, .mesage_gameover a {
  color: #000;
}